@import "tailwindcss";

:root {
  --background: oklch(26.8% 0.007 34.298);
  --foreground: #caa560;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@font-face {
  font-family: "Pelagiad";
  src: local("Pelagiad"), url("../fonts/Pelagiad.ttf") format("truetype");
}

button {
  border-width: 1px;
  border-radius: 4px;
  border-color: var(--foreground);
  color: var(--foreground);
  outline: 0px;
}

button:hover, button:focus {
  border-color: #dfc99f;
  color: #dfc99f;
}

button:disabled {
  border-color: oklch(44.4% 0.011 73.639);
  color: oklch(44.4% 0.011 73.639);
}

.disabled-gold:disabled {
  color: #caa560;
}

input, select {
  line-height: 1;
}

select:focus, input:focus {
  outline: 1px solid #dfc99f;
  border-radius: 1px;
  outline-offset: 2px;
}

select:hover, input:hover {
  outline: 1px solid #dfc99f;
  border-radius: 1px;
  outline-offset: 2px;
}

option {
  background-color: var(--background);
}

option:disabled {
  color: oklch(44.4% 0.011 73.639);
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pelagiad", sans-serif;
}
