@import "tailwindcss";

:root {
  --background: oklch(26.8% 0.007 34.298);
  --foreground: #caa560;
  --highlight: #dfc99f;
  --grey: oklch(44.4% 0.011 73.639);
}

@font-face {
  font-family: "Pelagiad";
  src: local("Pelagiad"), url("../fonts/Pelagiad.ttf") format("truetype");
}

button {
  border-width: 1px;
  border-radius: 4px;
  border-color: var(--foreground);
  color: var(--foreground);
  outline: 0px;
  user-select: none;
}

button:hover, button:focus {
  border-color: var(--highlight);
  color: var(--highlight);
}

button:disabled {
  border-color: var(--grey);
  color: var(--grey);
}

.disabled-gold:disabled {
  color: var(--foreground);
}

input, select {
  line-height: 1;
}

select:focus, input:focus {
  outline: 1px solid var(--highlight);
  border-radius: 1px;
  outline-offset: 2px;
}

select:hover, input:hover {
  outline: 1px solid var(--highlight);
  border-radius: 1px;
  outline-offset: 2px;
}

.searchbar {
  outline: 1px solid var(--highlight);
  border-radius: 1px;
  outline-offset: 2px;
}

.searchbar:hover, .searchbar:hover {
  outline: 1px solid var(--highlight);
  border-radius: 1px;
  outline-offset: 2px;
}

.searchbar:focus, .searchbar:focus {
  outline: 1px solid var(--highlight);
  border-radius: 1px;
  outline-offset: 2px;
}

option {
  background-color: var(--background);
}

option:disabled {
  color: var(--grey);
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pelagiad", sans-serif;
}
